body{
	background-color: black;
	margin: 0 auto;
	color: white;
}
h1, h2, p{
	color: white;
}
.header{
	text-align: center;
}
.banner{
	background-image: url(images/mirai_nikki.jpg);
	background-size: cover;
	height: 20vw;
	width: 100%;
}
.img-med{
	height: 300px;
	width: 450px;
}
.nav {
	background-color: teal;
	text-align: center;
	opacity: 0.7;
	height: 4vw;
}
.nav ul{
	display: inline-flex;
	list-style: none;
	color: white;
}
.nav li{
	width: 150px;
	padding: 15px;
}
.nav a{
	text-decoration: none;
	color: white;
}
#gap{
	width: 3vw;
}
.button {
  background-color: teal;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 10px;
}
